body, html{margin:0; padding:0; width:100%; height:100%;}
ul , li{margin:0; padding:0; list-style: none;}
#wrap{margin:0; padding:0; width:100%; height:100%; overflow: hidden; }
#header{width:100%; height:6%; background:rgb(237,175,102);box-sizing: border-box; padding-left:4.25%; padding-right:4.25%;  text-align: center; overflow: hidden;}


.menu_icon{width:15%; text-align: left; line-height:42px; float:left;}
.header_center{width:70%; float:left; text-align: center;}

.header_title{width:104px; height:19px; margin-top:13px;}

.menu_icon_img{width:22px; height:17px; }
.alarm_icon{width:15%; text-align: right;line-height:42px;float:right;}
.alarm_icon_img{ width:17px; height:20px; margin-top:10px;}

#container{box-sizing: border-box; padding-left:4.25%; padding-right:4.25%; height:86%; overflow: scroll;}

.display_none{display:none;}
.block{display:block;}



.profile{width:100%; height:30%; box-sizing: border-box; padding-top:7%; background: white; overflow: hidden; position:relative;}

.user_img{width:96px; height:96px; border-radius: 100%; position:absolute; left:15%; margin-left:-48px; top:10%; z-index: 999; visibility:hidden; background-color: rgba(0,0,0,0); border:0} 

.user_img2{width:96px; height:96px; border-radius: 100%; position:absolute; left:45%; margin-left:-48px; top:10%; z-index: 999; visibility:hidden; background-color: rgba(0,0,0,0); border:0} 

.user_img3{width:96px; height:96px; border-radius: 100%; position:absolute; left:75%; margin-left:-48px; top:10%; z-index: 999; visibility:hidden; background-color: rgba(0,0,0,0); border:0}


.profile_img_wrap{width:96px; height:96px; border-radius: 100%; background:rgb(241,198,148); position:absolute; left:15%; text-align: center;margin-left:-48px; top:10%;}



.profile_img_wrap2{width:96px; height:96px; border-radius: 100%; background:rgb(241,198,148); position:absolute; left:45%; margin-left:-48px; text-align: center;top:10%;}


.profile_img_wrap3{width:96px; height:96px; border-radius: 100%; background:rgb(241,198,148); position:absolute; text-align: center; left:75%; margin-left:-48px; top:10%;}



.profile_img_wrap4{width:96px; height:96px; border-radius: 100%; background:rgb(241,198,148); position:absolute; text-align: center; left:15%; margin-left:-48px; top:60%;}

.profile_img_wrap5{width:96px; height:96px; border-radius: 100%; background:rgb(241,198,148); position:absolute; text-align: center; left:45%; margin-left:-48px; top:60%;}

.profile_img_wrap6{width:96px; height:96px; border-radius: 100%; background:rgb(241,198,148); position:absolute; text-align: center; left:75%; margin-left:-48px; top:60%;}

.user_img4{width:96px; height:96px; border-radius: 100%; position:absolute; left:15%; margin-left:-48px; top:60%; z-index: 999; visibility:hidden; background-color: rgba(0,0,0,0); border:0} 

.user_img5{width:96px; height:96px; border-radius: 100%; position:absolute; left:45%; margin-left:-48px; top:60%; z-index: 999; visibility:hidden; background-color: rgba(0,0,0,0); border:0} 

.user_img6{width:96px; height:96px; border-radius: 100%; position:absolute; left:75%; margin-left:-48px; top:60%; z-index: 999; visibility:hidden; background-color: rgba(0,0,0,0); border:0}



.add_img_btn{width:19.5px; height:96px; position:absolute; left:92%; text-align: center;}
.add_img{width:19.5px; height:19.5px; margin-top:38px;}







.profile_img1{width:33px; height:26.5px; margin-top:35px;}



.profile_img_text_icon{width:8.5px; height:13.5px; margin-top:15px; float:left;}
.profile_img_text{width:163px; height:11.5px; margin-top:15px; margin-left:5px; float:left;}

text{text-align: right;}


.content_box1{overflow: hidden; height:140px; margin-top:15px;}
.content_text1_img{width:20.5px; height:11px;}
.content_subbox1{position:relative; width:100%; height:44px; box-sizing: border-box; padding-right:20px; margin-top:10px; background:rgb(249,249,249); padding-left:5px;}

.input_text1{width:70%; float:right; height:40px; box-sizing: border-box; margin-top:0px; background:rgb(249,249,249); text-align: right; padding-left:5px; border:rgba(0,0,0,0)}
.input_text1::placeholder{font-size: 12px; color:rgb(242,158,59)}

.age_text{font-size:13px; color:gray;box-sizing: border-box; padding-top:13px; }

.content_box2{overflow: hidden; height:80px; margin-top:15px;}

.content_where_img{width:30px; height:11px;}
.content_why_img{width:10.5px; height:11px;}
.content_box1_orangetext{width:130.5px; height:12px; position:absolute; right:3%; top:40%;}

.input_text_title{width:36px; height:14px; float:left; margin-top:15px; margin-left:10px;}
.input_text_title2{width:10.5px; height:14px; float:left; margin-top:15px; margin-left:10px;}

.essential_point1{width:4.5px; height:4.5px; float:left; margin-top:15px; margin-left:5px;}

.select_text_left{width:42.5px; height:11.5px; float:left;}
.select_text_right{width:8px; height:5px; float:left; margin-left:10px; margin-top:3px;}


.input_title_weight{
    width:38px; height:14px; float:left; margin-top:15px; margin-left:10px;
}
.input_title_address{
    width:26px; height:14px; float:left; margin-top:15px; margin-left:10px;
}

.input_title_dream{
    width:14px; height:14px; float:left; margin-top:15px; margin-left:10px;
}

.input_title_job_address{width:50px; height:14px; float:left; margin-top:15px; margin-left:10px;}

.input_title_most_interest{width:67.5px; height:14px; float:left; margin-top:15px; margin-left:10px;}

.input_title_preferd_food{width:53.5px; height:14px; float:left; margin-top:15px; margin-left:10px;}

.input_title_evaluation_standard{width:76.5px; height:14px; float:left; margin-top:15px; margin-left:10px;}

.input_title_future{width:133.5px; height:14px; float:left; margin-top:15px; margin-left:10px;}

.select_weight{float:right; margin-top:17px;}


.select_height{float:right; margin-top:17px;}

.select_date{float:right; margin-top:17px;}
.select_time{float:right; margin-top:17px;}
.select_location{float:right; margin-top:17px;}
.select_food{float:right; margin-top:17px;}
.select_how{float:right; margin-top:17px;}
.select_why{float:right; margin-top:17px;}





.content_box3{margin-top:20px; width:100%; height:155px; box-sizing: border-box; padding-left:5px; padding-right:5px; padding-top:5px; border:0.5px solid silver;}

.eval_title{font-size:14px; width:98%; border-bottom:0.5px solid silver; border:rgba(0,0,0,0); margin-bottom:5px;}
.eval_title::placeholder{color:silver;}

.textarea_wrap{width:100%; height:100px; border-top:0.5px solid silver;}
.eval_textarea{height:100%; line-height:20px; font-size:15px; width:98%; box-sizing: border-box;  border:rgb(0,0,0,0); overflow: scroll;}
.eval_textarea::placeholder{color:silver;}




#footer{width:100%; height:8%; overflow: hidden; background:rgb(254,150,15); position:fixed; bottom:0; left:0;}

#footer ul li{list-style:none; float:left; width:25%; line-height:1; height:100%;text-align: center; margin:0 auto;}
#footer ul{overflow: hidden; width:100%; height:100%; margin:0; padding:0}

.fb_1_img{width:24px; height:22px; margin-top:9px;}
.fb_1_text{width:8px; height:11px;}
.fb_2_img{width:33px; height:18px; margin-top:9px;}
.fb_2_text{width:44px; height:12px; margin-top:6px; }
.fb_3_img{width:33px; height:22px; margin-top:9px;}
.fb_3_text{width:56px; height:12px; margin-top:2px;}
.fb_4_img{width:24px; height:24px; margin-top:7px;}
.fb_4_text{width:56px; height:11px; margin-top:2px;}



.account_send_btn{width:100%; height:48px; background: rgb(242,158,59); text-align: center;  margin-bottom:80px; }

.account_send_text{width:135.5px; height:19.5px; margin-top:15px;}

.input_dream_text{outline:none;}


.hidden_wrap{width:100%; height:100%;position:fixed; top:0; left:0; overflow: hidden; margin:0 auto;}

.hidden_wrap3{width:100%; height:100%;position:fixed; top:0; left:0; overflow: hidden; margin:0 auto;}

.hidden_wrap_top{
    width:100%;
    height:15%;
    float:left;
    background:rgba(0,0,0,0.5);
}

.hidden_wrap_left{
    width:9%;
    height:67%;
    float:left;
    background:rgba(0,0,0,0.5);
}

.hidden_wrap_right{
    width:9%;
    height:67%;
    float:left;
    background:rgba(0,0,0,0.5);
}
.hidden_wrap_bottom{
    width:100%;
    height:18%;
    float:left;
    background:rgba(0,0,0,0.5);

}

.select_user_height{
    width:82%;
    height:67%;
    float:left;
    background: rgba(0,0,0,0.5);
}
.select_height_top{
    width:100%; height:8%; text-align: center; font-size: 22px; box-sizing: border-box; padding-top:1%; color:white; background:rgb(237,175,102); border-top-right-radius: 10px;
    border-top-left-radius:10px;
}
.select_height_top3{
    width:100%; height:15%; text-align: center; font-size: 22px; box-sizing: border-box; padding-top:1%; color:white; background:rgb(237,175,102); border-top-right-radius: 10px;
    border-top-left-radius:10px;
}
.select_height_top3_sub{
    width:100%; text-align: center; font-size:18px; box-sizing: border-box; padding-top:1%; color:white; display: block;
}
.select_height_container{
    width:100%; background:white; height:358px; overflow: scroll;
}

.select_height_container3{
    width:100%; background:white; height:320px;
}
.select_height_container3 li{width:100%; height:48px; line-height: 50px; font-size:18px; border-bottom: 0.5px solid silver; box-sizing: border-box; padding-left:10px;}

.select_btn{float:right; width:20px; height:20px; margin-right:15px; margin-top:15px;}
.select_btn2{float:right; width:20px; height:20px; margin-right:15px; margin-top:15px;}
.select_btn3{float:right; width:20px; height:20px; margin-right:15px; margin-top:15px;}
.select_btn4{float:right; width:20px; height:20px; margin-right:15px; margin-top:15px;}
.select_btn5{float:right; width:20px; height:20px; margin-right:15px; margin-top:15px;}
.select_btn6{float:right; width:20px; height:20px; margin-right:15px; margin-top:15px;}

.select_height_container li{width:100%; height:48px; line-height: 50px; font-size:18px; border-bottom: 0.5px solid silver; box-sizing: border-box; padding-left:10px;}



.select_height_footer{width:100%; height:12%; text-align: center; font-size:22px; box-sizing: border-box; padding-top:3.5%;background:rgb(237,175,102); border-bottom-left-radius: 10px; border-bottom-right-radius:10px ; color:white }
.select_height_footer3{width:100%; height:12%; text-align: center; font-size:22px; box-sizing: border-box; padding-top:3.5%;background:rgb(237,175,102); border-bottom-left-radius: 10px; border-bottom-right-radius:10px ; color:white }


.height_selected{width:100%; float:right; height:30px; box-sizing: border-box; margin-top:-5px; background:rgba(0,0,0,0); text-align: right; padding-left:5px; border:rgba(0,0,0,0); margin-right:10px;}

.weight_selected{width:100%; float:right; height:30px; box-sizing: border-box; margin-top:-5px; background:rgba(0,0,0,0); text-align: right; padding-left:5px; border:rgba(0,0,0,0); margin-right:10px;}


.input_text1{width:70%; float:right; height:40px; box-sizing: border-box; margin-top:0px; background:rgb(249,249,249); text-align: right; padding-left:5px; border:rgba(0,0,0,0)}

.bloodtype_selected{width:100%; float:right; height:30px; box-sizing: border-box; margin-top:-5px; background:rgba(0,0,0,0); text-align: right; padding-left:5px; border:rgba(0,0,0,0); margin-right:10px;}

.address_selected{width:100%; float:right; height:30px; box-sizing: border-box; margin-top:-5px; background:rgba(0,0,0,0); text-align: right; padding-left:5px; border:rgba(0,0,0,0); margin-right:10px;}

.appearance_selected{width:100%; float:right; height:30px; box-sizing: border-box; margin-top:-5px; background:rgba(0,0,0,0); text-align: right; padding-left:5px; border:rgba(0,0,0,0); margin-right:10px;}

.emotion_selected{width:100%; float:right; height:30px; box-sizing: border-box; margin-top:-5px; background:rgba(0,0,0,0); text-align: right; padding-left:5px; border:rgba(0,0,0,0); margin-right:10px;}

.bodytype_selected{width:100%; float:right; height:30px; box-sizing: border-box; margin-top:-5px; background:rgba(0,0,0,0); text-align: right; padding-left:5px; border:rgba(0,0,0,0); margin-right:10px;}

.attractive_selected{width:100%; float:right; height:30px; box-sizing: border-box; margin-top:-5px; background:rgba(0,0,0,0); text-align: right; padding-left:5px; border:rgba(0,0,0,0); margin-right:10px;}





.direct_input{background:rgba(0,0,0,0); box-sizing: border-box;  height:40px; line-height:40px; font-size:20px; border:rgba(0,0,0,0)}

.select_btn_wrap{float:right;}


.hidden_wrap2{width:100%; height:100%; position:fixed; top:0px; left:0px; margin:0 auto;}
.hidden_top2{background:rgba(0,0,0,0.5); width:100%; height:60%;}
.hidden_bottom2{width:100%; height:40%; background:white; position:absolute;bottom:0;}

.close_btn{width:57px; height:57px; border-radius: 100%; background:rgb(237,175,102); text-align: center; left:50%; position: absolute; bottom: 45%; margin-left:-28.5px}
.close_btn_icon{width:24px; height:24px; margin-top:17px;}

.select_btn_blood{float:left; width:20px; height:20px; margin-right:15px; margin-top:5px;}
.blood_type_text{font-size:20px;}

.top_banner{width:100%; height:20%; overflow:hidden; box-sizing: border-box;}
.top_banner1{width:50%; float:left; text-align: center; border-top:0.5px solid rgb(242,158,59); color:rgb(242,158,59); box-sizing: border-box; padding-top:10px;}
.top_banner2{width:50%;box-sizing: border-box; padding-top:10px; float:left; text-align:center;}

.hidden_bottom2 ul{width:100%; height:100%; overflow: hidden; box-sizing: border-box; padding-left:4.25%; padding-right:4.25%; padding-top:5%;}
.hidden_bottom2 li{width:50%; height:25%; float:left; margin-bottom:20px;}
.datepicker{width:100%; height:60%; overflow: hidden;}

.select_type1{width:80%; height:100%; margin:0 auto; border-radius: 20px; border:0.5px solid silver; color:silver; text-align: center; box-sizing: border-box; padding-top:5px;}


.hidden_wrap_date{width:100%; height:100%; position:fixed; top:0px; left:0px; margin:0 auto;}
.hidden_top_date{background:rgba(0,0,0,0.5); width:100%; height:40%;}
.hidden_bottom_date{
    width:100%; height:60%; background:white; position:absolute;bottom:0;
}
.datepicker_wrap{width:100%; height:60%;}
.datepicker_wrap ul{width:100%; height:100%; overflow:hidden; box-sizing:border-box; padding-left:4.25%; padding-right:4.25%; padding-top:5%;}
.datepicker_wrap li{width:50%; height:10%; float:left; margin-bottom:15px;} 
.hidden_wrap_date .close_btn{top:30%;}
.hidden_bottom_date .top_banner{height:15%;}
.hidden_wrap_date .ok_btn{height:15%;}

.ok_btn{background:rgb(242,158,59); width:100%; height:20%; text-align: center; position:absolute; bottom:0;}
.ok_btn_text{width:35px; height:18.5px; margin-top:5%;}


.direct_input_type{border:rgba(0,0,0,0); background:rgba(0,0,0,0); text-align: center; width:100%; height:100%;}
.direct_input_type::placeholder{color:silver;}

.datepicker_wrap{width:100%; height:100%; overflow:hidden;}

.hidden_wrap_location{width:100%; height:100%; position:fixed; top:0px; left:0px; margin:0 auto;}
.hidden_top_location{
    background:rgba(0,0,0,0.5); width:100%; height:60%;
}
.hidden_bottom_location{
    width:100%; height:40%; background:white; position:absolute; bottom:0;
}

.hidden_top_location .close_btn{top:50%;}
.hidden_bottom_location .top_banner{height:15%; width:100%; text-align: center; color:rgb(242,158,59); margin-top:10px;}
.hidden_wrap_location .ok_btn{height:20%;}
.hidden_wrap_location li{height:15%; width:50%; float:left; margin-bottom:40px;}
.hidden_wrap_location ul{width:100%; height:100%; overflow: hidden; box-sizing: border-box; padding-left:4.25%; padding-right:4.25%;}
.select_location_wrap .select_type1{color:silver; margin-top:20px; margin-bottom:20px;}
.select_location_wrap{width:100%; height:100%;}
.input_location{float:left; width:100%; height:15%; box-sizing: border-box; padding-left:5%;}
.input_location_text{font-size:18px; height:100%; width:92%; border-radius: 20px; border:0.5px solid silver; color:silver; box-sizing: border-box; padding-left:3%;}

.input_food{position:absolute; bottom:40%; width:100%; height:10%; box-sizing: border-box; padding-left:5%;}
.input_food_text{font-size:18px; height:100%; width:92%; border-radius: 20px; border:0.5px solid silver; color:silver; box-sizing:border-box; padding-left:3%;}

.select_location_wrap .select_type1{text-align: left; box-sizing: border-box; padding-left:4%; padding-right:6%;}
.select_location_wrap .select_text_right{float:right; margin-top:10px;}



.hidden_wrap_food{width:100%; height:100%; position:fixed; top:0px; left:0px; margin:0 auto;}
.hidden_top_food{background:rgba(0,0,0,0.5); width:100%; height:45%;}
.hidden_bottom_food{width:100%; height:55%; background:white; position:absolute; bottom:0;}
.hidden_top_food .close_btn{top:30%}
.hidden_bottom_food .top_banner{height:10%; width:100%; text-align: center; color:rgb(242,158,59); margin-top:10px;}
.hidden_wrap_food .ok_btn{height:20%;}
.hidden_wrap_food li{ width:33.3%; float:left; margin-bottom:15px;}
.hidden_wrap_food ul{width:100%; height:100%; overflow: hidden; box-sizing: border-box; padding-left:4.25%; padding-right:4.25%;}
.select_food_wrap .select_type1{color:black; text-align: center; border:0px; margin-bottom:10px;}

.food_type{width:65px; height:65px; border-radius: 100%; text-align: center; border:0.5px solid silver; margin:0 auto;}
.food_type_img1{width:34px; height:35px; margin-top:15px;}
.food_type_img2{width:43.5px; height:24.5px; margin-top:20px;}
.food_type_img3{width:35px; height:30px; margin-top:17px;}
.food_type_img4{width:39px; height:32.5px; margin-top:16px;}
.food_type_img5{width:27px; height:35.5px; margin-top:15px;}
.food_type_img6{width:30.5px; height:34.5px; margin-top:15.5px;}


.hidden_wrap_how{width:100%; height:100%; position:fixed; top:0px; left:0px; margin:0 auto;}
.hidden_top_how{background:rgba(0,0,0,0.5); width:100%; height:45%;}
.hidden_bottom_how{width:100%; height:55%; background:white; position:absolute; bottom:0;}
.hidden_top_how .close_btn{top:30%}
.hidden_bottom_how .top_banner{height:10%; width:100%; text-align: center; color:rgb(242,158,59); margin-top:10px;}
.hidden_wrap_how .ok_btn{height:15%;}
.hidden_wrap_how li{width:50%; float:left; margin-bottom:15px;}
.hidden_wrap_how ul{width:100%; height:100%; overflow: hidden; box-sizing: border-box; padding-left:4.25%; padding-right:4.25%;}
.select_how_wrap .select_type1{color:black; text-align: center; border: 0px; margin-bottom:10px;}
.how_type{width:87px; height:87px; border-radius: 100%; border: 0.5px solid silver; overflow: hidden;}

.select_how_wrap .possible_beer_text{text-align: left; margin-left:-47px;}


.how_type_img1{width:45px; height:50px; margin-top:15px;}
.how_type_img2{width:53px; height:51px; margin-top:15px;}
.how_type_img3{width:45px; height:50px; margin-top:15px;}
.how_type_img4{width:53px; height:51px; margin-top:15px;}

.dia{width:140px; height:5px; background:silver; transform:rotate(45deg); margin-left:-10px; margin-top:-10px;}


.hidden_wrap_why{width:100%; height:100%; position:fixed; top:0px; left:0px; margin:0 auto;}
.hidden_top_why{background:rgba(0,0,0,0.5); width:100%; height:45%;}
.hidden_bottom_why{width:100%; height:55%; background:white; position:absolute; bottom:0;}
.hidden_top_why .close_btn{top:30%}
.hidden_bottom_why .top_banner{height:10%; width:100%; text-align: center; color:rgb(242,158,59); margin-top:10px;}
.hidden_wrap_why .ok_btn{height:15%;}
.select_why_wrap{width:100%; height:62%;}
.hidden_wrap_why li{width:50%; height:23%; float:left; margin-bottom:15px;}
.hidden_wrap_why ul{width:100%; height:70%; overflow: hidden; box-sizing: border-box; padding-left:4.25%; margin-top:10px; padding-right:4.25%;}
.select_why_wrap .select_type1{color:silver; height:100%; text-align: center; border-radius:20px; border:0.5px solid silver; margin-bottom:10px;}
.top_sub_text{width:100%; height:8%; font-size:14px; color:black; text-align: center;}

.input_why_list{width:65%; margin-left:6%; height:100%; background:rgb(249,249,249); border:0.5px solid silver; box-sizing: border-box; padding-left:3%; float:left;}
.input_why_list::placeholder{color:silver;}
.input_btn{ width:20%; height:100%; background:rgb(242,158,59); color:white; float:left; margin-left:10px; text-align: center; box-sizing: border-box; padding-top:5px;}
.input_box{width:100%; height:15%; }



.hidden_menu_wrap{width:100%; height:100%; position:absolute; top:0; left:-100%;}
.hidden_menu{width:0%; height:100%; float:left;background:rgb(249,249,249)}
.hidden_menu_top{text-align: center; background-color: rgb(237,175,102); height:5.2%; box-sizing: border-box; padding-top:3%; border:0.5px solid silver;}
.hidden_title{width:79px; height:21px;}

.hidden_menu_right{width:100%; height:100%; float:left;}

.block{display:block}
.opacity{opacity:0.5}

.hidden_menu ul{background:white; margin:0; padding:0; border-top:0.5px solid rgba(221,221,221,0.6); overflow: hidden;}
.hidden_menu li{width:100%; height:40px; line-height: 40px; box-sizing: border-box; padding-left:14px; padding-right:14px; overflow: hidden; float:left; border-bottom:0.5px solid rgba(221,221,221,0.6)}

.icon_wrap{width:23px; height:40px; float:left; overflow: hidden; text-align: center; margin-right:15px;}
.user_info_icon{width:13px; height:13px;  margin-top:13px; }
.hidden_list_text{float:left;}
.coupon_icon{width:21px; height:12px; margin-top:13px; margin-right:13px;}

.hidden_menu_list1{margin-top:15px;}
.hidden_menu_partion{width:100%; height:32px; line-height:32px; box-sizing: border-box; padding-left:14px; background:rgb(249,249,249)}
.partion_img{width:24px; height:12px; margin-top:15px;}
.virsion_text{float:right; color:silver}

.notice_img{width:16px; height:15px;}
.qna_img{width:14px; height:14px;}
.review_img{width:20px; height:14px;}
.event_img{width:16px; height:15px;}
.changer_img{width:15px; height:16px;}
.virsion_img{width:8px; height:16px;}

input:focus {outline: none;}