body,html{margin:0; padding:0; height:100%;}
a{text-decoration: none;}
#wrap{margin:0; padding:0; width:100%; height:100%; overflow: hidden; }
#header{width:100%; height:6%; background:rgb(237,175,102);box-sizing: border-box; padding-left:4.25%; padding-right:4.25%;  text-align: center; overflow: hidden;}
ul,li{list-style: none; margin:0; padding:0;}

.menu_icon{width:15%; text-align: left; line-height:42px; float:left;}
.main_title{width:70%; text-align: center;line-height:42px;float:right;}
.alarm_icon{width:15%; text-align: right;line-height:42px;float:right;}


.menu_icon_img{width:22px; height:17px; }
.main_title_img{width:75px; height:19.5px;}
.alarm_icon_img{ width:17px; height:20px;}


#container{width:100%; height:86%; }

.review_img_wrap{width:100%; height:130px; box-sizing: border-box;  padding-top:5%;position: relative; border-bottom: 0.5px solid silver;}

.review_img1{width:91px; height:91px; border-radius: 100%; background:rgb(245,213,176); position:absolute; left:8%; text-align: center;}
.review_img2{width:91px; height:91px; border-radius: 100%; background:rgb(245,213,176); position:absolute; left:50%; margin-left:-45.5px; text-align: center;}
.review_img3{width:91px; height:91px; border-radius: 100%; background:rgb(245,213,176); position:absolute; text-align: center; right:8%}
.review_add_img{width:33px; height:26.5px; margin-top:30px;}


.list_company_taste{width:13px; height:14px;margin-top:10px;}
.list_company_service{width:41px; height:14px;margin-top:10px;}
.list_company_location{width:26.5px; height:14px; margin-top:10px;}

#container li{width:100%; height:42px; border-bottom:0.5px solid silver; box-sizing: border-box; padding-left:4.25%; padding-right:4.25%;}

.company_taste_score1{width:25px; height:25px; float:right; margin-top:8px; margin-left:8px;}
.company_taste_score2{width:25px; height:25px; float:right; margin-top:8px; margin-left:8px;}
.company_taste_score3{width:25px; height:25px; float:right; margin-top:8px; margin-left:8px;}
.company_taste_score4{width:25px; height:25px; float:right; margin-top:8px; margin-left:8px;}
.company_taste_score5{width:25px; height:25px; float:right; margin-top:8px; margin-left:8px;}

.company_price_input{width:50%; float:right; font-size:22px; margin-top:5px; border:0.5px solid rgba(221,221,221,0.6); text-align: right;}

.company_kind_score1{width:25px; height:25px; float:right; margin-top:8px; margin-left:8px;}
.company_kind_score2{width:25px; height:25px; float:right; margin-top:8px; margin-left:8px;}
.company_kind_score3{width:25px; height:25px; float:right; margin-top:8px; margin-left:8px;}
.company_kind_score4{width:25px; height:25px; float:right; margin-top:8px; margin-left:8px;}
.company_kind_score5{width:25px; height:25px; float:right; margin-top:8px; margin-left:8px;}

.public_toilet{float:right; width:55px; }
.out_toilet{float:right; width:55px; margin-right:8px;}
.in_toilet{float:right; width:55px; margin-right:8px;}

.select_btn1{width:16.5px; height:16.5px; margin-top:10px;}
.select_btn2{width:16.5px; height:16.5px; margin-top:10px;}
.select_btn3{width:16.5px; height:16.5px; margin-top:10px;}

.public_text, .out_text, .in_text{color:silver; }

.parking_noexistence{float:right; width:70px;}
.parking_existence{float:right; width:70px;}

.parking_select_btn1{width:16.5px; height:16.5px; margin-top:10px;}
.parking_select_btn2{width:16.5px; height:16.5px; margin-top:10px;}

.no_text, .ex_text{color:silver;}

.review_eval{width:57px; height:14px; margin-top:10px;}
.review_request{width:60px; height:14px; margin-top:10px;}
#container .eval{height:85px;}
#container .request{height:85px;}

.eval_ment{width:70%; height:80%; float:right; border:0.5px solid rgba(221,221,221,0.6); margin-top:5px;}
.request_ment{width:70%; height:80%; float:right; border:0.5px solid rgba(221,221,221,0.6); margin-top:5px;}

.save_btn_wrap{width:100%;box-sizing: border-box; padding-left:5%; padding-right:5%; }
.save_btn{width:100%; margin-top:15px; height:35px; background:rgb(254,150,15); text-align: center;}
.save_btn_img{width:48px; height:12.5px; margin-top:10px}


#footer{width:100%; height:8%; overflow: hidden; background:rgb(254,150,15); position:fixed; bottom:0; left:0;}

#footer ul li{list-style:none; float:left; width:25%; line-height:1; height:100%;text-align: center; margin:0 auto;}
#footer ul{overflow: hidden; width:100%; height:100%; margin:0; padding:0}

.fb_1_img{width:24px; height:22px; margin-top:9px;}
.fb_1_text{width:8px; height:11px;}
.fb_2_img{width:33px; height:18px; margin-top:9px;}
.fb_2_text{width:44px; height:12px; margin-top:6px; }
.fb_3_img{width:33px; height:22px; margin-top:9px;}
.fb_3_text{width:56px; height:12px; margin-top:2px;}
.fb_4_img{width:24px; height:24px; margin-top:7px;}
.fb_4_text{width:56px; height:11px; margin-top:2px;}




.hidden_wrap{width:100%; height:100%; position:absolute; top:0; left:-100%; }
.hidden_menu{width:0%; height:100%; float:left;background:rgb(249,249,249)}
.hidden_menu_top{text-align: center; background-color: rgb(237,175,102); height:5.2%; box-sizing: border-box; padding-top:3%; border:0.5px solid silver;}
.hidden_title{width:79px; height:21px;}

.hidden_right{width:100%; height:100%; float:left;}

.block{display:block}
.opacity{opacity:0.5}

.hidden_menu ul{background:white; margin:0; padding:0; border-top:0.5px solid rgba(221,221,221,0.6); overflow: hidden;}
.hidden_menu li{width:100%; height:40px; line-height: 40px; box-sizing: border-box; padding-left:14px; padding-right:14px; overflow: hidden; float:left; border-bottom:0.5px solid rgba(221,221,221,0.6)}

.icon_wrap{width:23px; height:40px; float:left; overflow: hidden; text-align: center; margin-right:15px;}
.user_info_icon{width:13px; height:13px;  margin-top:13px; }
.hidden_list_text{float:left;}
.coupon_icon{width:21px; height:12px; margin-top:13px; margin-right:13px;}

.hidden_menu_list1{margin-top:15px;}
.hidden_menu_partion{width:100%; height:32px; line-height:32px; box-sizing: border-box; padding-left:14px; background:rgb(249,249,249)}
.partion_img{width:24px; height:12px; margin-top:15px;}
.virsion_text{float:right; color:silver}

.notice_img{width:16px; height:15px;}
.qna_img{width:14px; height:14px;}
.review_img{width:20px; height:14px;}
.event_img{width:16px; height:15px;}
.changer_img{width:15px; height:16px;}
.virsion_img{width:8px; height:16px;}

input:focus {outline: none;}

