body, html{margin:0; padding:0;}
#wrap{ width:100%; height:100%;}
#header{width:100%; height:12.7%; background:rgb(237,175,102); color:white; box-sizing: border-box; padding-left:5%;overflow: hidden; padding-right:5%; position:fixed; left:0; top:0; display:block;}
.header_top{overflow: hidden; float:left; width:100%; height:50%; line-height:42px;}
.header_top_left{width:11px; height:100%; float:left; margin-top:12px;}
.header_left{width:15%; float:left;}
.header_middle{width:70%; float:left; text-align: center;}
.header_right{width:15%; float:left; text-align: right;}
.header_top_middle{width:105px; height:100%; margin-top:12px;}
.header_top_right{width:17px; height:100%; margin-top:12px;}

.header_bottom ul li{list-style:none; margin:0; padding:0;}
.header_bottom li{float:left; width:14.28%; text-align: center;}
.header_bottom ul{overflow: hidden; width:100%; padding:0;}
.banner_img1{width:30px; height:12px; margin-top:12px;}
.banner_img2{width:23px; height:24px; margin-top:6px;}
.banner_img3{width:30px; height:17px; margin-top:10px;}
.banner_img4{width:24px; height:22px; margin-top:7px;}
.banner_img5{width:27px; height:23px; margin-top:6px;}
.banner_img6{width:18px; height:24px; margin-top:6px;}
.banner_img7{width:21px; height:24px; margin-top:6px;}
a{text-decoration: inherit;}

#container{width:100%; height:auto; box-sizing: border-box; padding-left:5%; padding-right:5%; background:rgb(249,249,249); margin-top:22.5%; padding-top:5%;}

.container_top{width:100%; height:7.9%; overflow: hidden;}
.write_wrap{width:73px; height:28px; background:rgb(237,175,102); border-radius: 25px; float:left; box-sizing: border-box;  overflow: hidden;}

.write_left{width:20px; float:left;}
.write_logo{width:16px; height:16px; margin-top:5px; margin-left:7px;}
.write_right{width:53px; float:left; }
.write_text{width:33px; height:12px; margin-left:8px; margin-top:7px;}

.filter_wrap{width:72px; height:27px; float:right; border-radius:25px; background:white; border:0.5px solid silver; overflow: hidden;}
.filter_left{width:20px; float:left;}
.filter_logo{width:16px; height:16px; margin-top:5px; margin-left:10px;}
.filter_right{width:52px; float:left;}
.filter_text{width:21px; height:12px; margin-left:15px; margin-top:7px;}

.container_main_content{position:relative; }
.content_box_top{width:42px; height:38px; background:white; position:absolute; top:-20px; left:50%; margin-left:-21px; text-align: center; border-radius: 40px;}

.content_box{width:100%; height:130px; margin-top:30px; background: white; box-shadow: 0px 5px 5px -5px silver;}

.content_box_top_icon{width:17.5px; height:18px; margin-top:10px;}

.dead_time{float:right; width:85px; overflow: hidden; margin-top:5px;}
.clock_icon{width:9px; height:9px; float:left;}

.dead_time_text{width:60.5px; height:7.5px; float:left; margin-left:5px;}

.content_box_main{width:100%;}

.content_box_imagebox{width:64.5px; height:64.5px; background:rgb(241,198,148); float:left; margin-top:30px; margin-left:10px; border-radius: 5px; text-align: center; box-sizing: border-box; padding-top:10px;}

.image_box_no_icon{width:27.5px; height:28px; }
.image_box_no_text{width:34.5px; height:9.5px;}
.image_box_no_text_wrap{margin-top:-5px;}

.content_box_textbox{float:left; height:64.5px; margin-top:10px; margin-left:10px; box-sizing: border-box;}
.content_textbox_title{font-weight: 700; float:left;}
.number_of_participants{float:left; margin-left:10px; overflow: hidden;}
.participants_woman_num{font-size:12px;}
.participants_man_num{font-size:12px;}
.participants_man{width:4.5px; height:11px;}
.content_textbox_detail_text{width:232.5px; height:24.5px; margin-top:5px;}

.content_textbox_add_img{width:82.5px; height:7.5px;}

.content_textbox_enter_btn{margin-top:15px; overflow: hidden;}

.entrance_text{width:60.5px; height:8.5px; float:right;}
.entrance_btn{float:right; border-radius: 100%; width:10px; height:10px; background:rgb(254,150,15); text-align: center; margin-left:5px;}
.entrance_btn_icon{width:4px; height:5px; float:left; margin-top:3px; margin-left:3px;}










#footer{width:100%; height:8%; overflow: hidden; background:rgb(254,150,15); position:fixed; bottom:0; left:0;}


#footer ul li{list-style:none; float:left; width:25%; line-height:1; height:100%;text-align: center; margin:0 auto;}
#footer ul{overflow: hidden; width:100%; height:100%; margin:0; padding:0}



.fb_1_img{width:24px; height:22px; margin-top:9px;}
.fb_1_text{width:8px; height:11px;}
.fb_2_img{width:33px; height:18px; margin-top:9px;}
.fb_2_text{width:44px; height:12px; margin-top:6px; }
.fb_3_img{width:33px; height:22px; margin-top:9px;}
.fb_3_text{width:56px; height:12px; margin-top:2px;}
.fb_4_img{width:24px; height:24px; margin-top:7px;}
.fb_4_text{width:56px; height:11px; margin-top:2px;}

